<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ head_title }}</title>
  {{ head }}
</head>

<body class="{{ body_classes }}">
  <div class="page-wrapper">
    <header>
    <div class="container">
      <div class="header-logo">
        {{ page.header }}
      </div>
    </div>
  </header>

  <main role="main">
    <div class="container">
      <div class="content">
        {{ page.content }}
      </div>
    </div>
  </main>
  <hr>
  <center><small> {{ page.footer }} </small></center>

  {{ scripts }}
  </div>
</body>
</html>
